.carousel img{
    display: block;
    height: 300px;
    padding: 30px;
    border-radius:5%;
    margin-left: auto;
    margin-right: auto;
}

.carousel a{
    margin: 0 auto;
}

@media (max-width: 900px){
    .carousel-caption h2{
        font-size: 1rem;
    }
}
